In [284]:
import pandas as pd

In [285]:
import os
import csv

In [286]:
file_to_load = "Resources/purchase_data.csv"

In [287]:
purchase_data = pd.read_csv(file_to_load)

In [288]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [289]:
purchase_unique  = purchase_data.drop_duplicates(['SN'])

In [290]:
player_genders = purchase_data.loc[:,["SN"]]
print(player_genders)
player_genders = player_genders.drop_duplicates

                  SN
0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
5            Yalae81
6          Itheria73
7        Iskjaskst81
8          Undjask33
9        Chanosian48
10         Inguron55
11      Haisrisuir60
12      Saelaephos52
13       Assjaskan73
14       Saesrideu94
15         Lisassa64
16         Lisirra25
17         Zontibe81
18         Reunasu60
19         Chamalo71
20      Iathenudil29
21     Phiarithdeu40
22      Siarithria38
23          Eyrian71
24           Siala43
25         Lisirra87
26        Lirtossa84
27           Eusri44
28            Aela59
29           Tyida79
..               ...
750         Iljask75
751      Lisjaskan36
752    Mindjasksya61
753   Frichirranya75
754  Pheosurllorin41
755         Raesty92
756          Ilast79
757        Eratiel90
758           Iral74
759      Tyaelorap29
760       Aithelis62
761          Assim27
762           Asur53
763     Lassilsala30
764     Saedaiphos46
765          Irith83
766     Aelastirin39
767          Ilmol66
768     Assassasta79
769        Ilosian36
770       Lirtosia63
771     Iskossasda43
772           Asur53
773           Hala31
774       Jiskjask80
775       Aethedru70
776           Iral74
777       Yathecal72
778          Sisur91
779        Ennrian78

[780 rows x 1 columns]

In [291]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [292]:
players = purchase_data["SN"].nunique()
players

576

In [293]:
unique = purchase_data["Item Name"].unique()
unique

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [294]:
count = purchase_data["Item Name"].value_counts()
count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
Pursuit, Cudgel of Necromancy                    8
Winter's Bite                                    8
Singed Scalpel                                   8
Wolf                                             8
Retribution Axe                                  8
Lightning, Etcher of the King                    8
Shadow Strike, Glory of Ending Hope              8
Brutality Ivory Warmace                          8
Heartstriker, Legacy of the Light                7
Exiled Doomblade                                 7
Suspension                                       7
Oathbreaker, Spellblade of Trials                7
Malificent Bag                                   7
Thorn, Satchel of Dark Souls                     7
Demise                                           7
Vengeance Cleaver                                7
Glimmer, Ender of the Moon                       7
Hero Cane                                        6
Phantomlight                                     6
Wolf, Promise of the Moonwalker                  6
Second Chance                                    6
Blood-Forged Skeletal Spine                      6
Frenzied Scimitar                                6
Azurewrath                                       6
                                                ..
Torchlight, Bond of Storms                       2
Rage, Legacy of the Lone Victor                  2
Frenzy, Defender of the Harvest                  2
Darkheart, Butcher of the Champion               2
Whistling Mithril Warblade                       2
Unholy Wand                                      2
Rusty Skull                                      2
Possessed Core                                   2
Stormfury Longsword                              2
Dreamkiss                                        2
Winterthorn, Defender of Shifting Worlds         2
Spectral Diamond Doomblade                       2
Stormfury Mace                                   2
Sun Strike, Jaws of Twisted Visions              2
Flux, Destroyer of Due Diligence                 2
Trickster                                        2
Foul Edge                                        2
Relentless Iron Skewer                           2
Curved Axe                                       2
Foul Titanium Battle Axe                         2
Exiled Mithril Longsword                         1
Gladiator's Glaive                               1
Betrayer                                         1
Riddle, Tribute of Ended Dreams                  1
Undead Crusader                                  1
Alpha, Reach of Ending Hope                      1
Celeste                                          1
Endbringer                                       1
The Decapitator                                  1
Ghost Reaver, Longsword of Magic                 1
Name: Item Name, Length: 179, dtype: int64

In [295]:
purchase_data["Price"].mean()

3.050987179487176

In [296]:
purchase_data["Price"].sum()

2379.77

In [297]:
players

576

In [298]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

In [299]:
gender_group = purchase_data["Gender"].value_counts()
gender_group

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [300]:
gender_group_un = purchase_unique["Gender"].value_counts()
gender_group_un

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [316]:
percents = (gender_group_un / players) * 100
percents

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [319]:
purchase_unique.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [302]:
purchase_data_gender = pd.get_dummies(purchase_data, columns=['Gender'])
purchase_data_gender.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price,Gender_Female,Gender_Male,Gender_Other / Non-Disclosed
0,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53,0,1,0
1,1,Lisovynya38,40,143,Frenzied Scimitar,1.56,0,1,0
2,2,Ithergue48,24,92,Final Critic,4.88,0,1,0
3,3,Chamassasya86,24,100,Blindscythe,3.27,0,1,0
4,4,Iskosia90,23,131,Fury,1.44,0,1,0

In [303]:
purchase_male = purchase_data_gender[purchase_data_gender['Gender_Male'] ==1]['Gender_Male'].sum()

In [304]:
purchase_data_gender.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price,Gender_Female,Gender_Male,Gender_Other / Non-Disclosed
0,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53,0,1,0
1,1,Lisovynya38,40,143,Frenzied Scimitar,1.56,0,1,0
2,2,Ithergue48,24,92,Final Critic,4.88,0,1,0
3,3,Chamassasya86,24,100,Blindscythe,3.27,0,1,0
4,4,Iskosia90,23,131,Fury,1.44,0,1,0

In [305]:
purchase_female = purchase_data_gender[purchase_data_gender['Gender_Female'] ==1]['Gender_Female'].sum()
purchase_female

113

In [306]:
purchase_other = purchase_data_gender[purchase_data_gender['Gender_Other / Non-Disclosed'] ==1]['Gender_Other / Non-Disclosed'].sum()
purchase_other

15

In [307]:
purchase_male = (purchase_data_gender[purchase_data_gender['Gender_Male'] ==1])['Gender_Male'].sum()
purchase_male

652

In [308]:
purchase_male_total = purchase_data_gender[purchase_data_gender['Gender_Male'] ==1]['Price'].sum()
purchase_male_total

1967.64

In [309]:
pur_male_ave = purchase_male_total/purchase_male
pur_male_ave

3.0178527607361967

In [310]:
purchase_female_total = purchase_data_gender[purchase_data_gender['Gender_Female'] ==1]['Price'].sum()
purchase_female_total

361.94

In [311]:
pur_female_ave = purchase_female_total/purchase_female
pur_female_ave

3.203008849557522

In [312]:
purchase_other_total = purchase_data_gender[purchase_data_gender['Gender_Other / Non-Disclosed'] ==1]['Price'].sum()
purchase_other_total

50.19

In [313]:
pur_other_ave = purchase_other_total/purchase_other
pur_other_ave

3.3459999999999996

In [ ]:
perperpurave =

In [345]:
gender_group_un[purchase_data_gender["SN"]]

SN
Lisim78           NaN
Lisovynya38       NaN
Ithergue48        NaN
Chamassasya86     NaN
Iskosia90         NaN
Yalae81           NaN
Itheria73         NaN
Iskjaskst81       NaN
Undjask33         NaN
Chanosian48       NaN
Inguron55         NaN
Haisrisuir60      NaN
Saelaephos52      NaN
Assjaskan73       NaN
Saesrideu94       NaN
Lisassa64         NaN
Lisirra25         NaN
Zontibe81         NaN
Reunasu60         NaN
Chamalo71         NaN
Iathenudil29      NaN
Phiarithdeu40     NaN
Siarithria38      NaN
Eyrian71          NaN
Siala43           NaN
Lisirra87         NaN
Lirtossa84        NaN
Eusri44           NaN
Aela59            NaN
Tyida79           NaN
                   ..
Iljask75          NaN
Lisjaskan36       NaN
Mindjasksya61     NaN
Frichirranya75    NaN
Pheosurllorin41   NaN
Raesty92          NaN
Ilast79           NaN
Eratiel90         NaN
Iral74            NaN
Tyaelorap29       NaN
Aithelis62        NaN
Assim27           NaN
Asur53            NaN
Lassilsala30      NaN
Saedaiphos46      NaN
Irith83           NaN
Aelastirin39      NaN
Ilmol66           NaN
Assassasta79      NaN
Ilosian36         NaN
Lirtosia63        NaN
Iskossasda43      NaN
Asur53            NaN
Hala31            NaN
Jiskjask80        NaN
Aethedru70        NaN
Iral74            NaN
Yathecal72        NaN
Sisur91           NaN
Ennrian78         NaN
Name: Gender, Length: 780, dtype: float64

In [281]:
bins = [10,14,19,24,29,34,39]